body {
	background-color: black;
	font-family: Verdana, sans-serif;
	text-align: center;
}

h1 {
	font-weight: Normal;
	font-size: 50px;
	color: white;
}

h2 {
	color: white;
	font-weight: 300;
	font-size: 42px;
}

.travel-guide p{
	color: Gray;
	font-size: 21px;
}

.travel-guide {
	padding-bottom: 20px;
}

.header-download a, .footer-download a{
	color: Aquamarine;
	font-size: 16px;
}

aside {
	text-align: right;
	color: Gray;
}
